<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ec49bce93b.js"></script>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>

    <div class="container col-12 offset-xs-0  col-md-10 offset-md-1">

      <div class="row col-sm-12">
          <div class="formulaire col-12 offset-xs-0 col-lg-6 offset-lg-6 ">
            <form action="/add-city" method="POST">
              <label for="">Ville</label>
              <input type="text" name="city" id="" placeholder="Entrez une ville">
              <!--<input type="hidden" name="img" value='../images/picto-1.png'>
              <input type="hidden" name="info" value="orageux">
              <input type="hidden" name="min" value="10°c">
              <input type="hidden" name="max" value="23°c">-->
              <button class='btn btn-warning'>Enregistrer</button>
            </form>
          </div>
          <div class="results d-block d-lg-flex">
            <img src="../images/map.png" alt="" class="map col-12 col-lg-6">
            <div class="city-list col-12 col-lg-6">
              <ul class='list-group'>
                  <h3>Nombre de villes <%= villes.length %></h3>
                <% for( var i = 0; i<villes.length; i++ ){%>
                    <li class="cities list-group-item d-flex">
                        <p class="city-name col-5"><%= villes[i].city%></p>
                        <div class="weather d-flex col-5 justify-content-between">
                          <img src="<%= villes[i].img %>" alt="">
                          <p class='info'><%= villes[i].info%></p>
                          <p class="min btn-warning"><%= villes[i].min%></p>
                          <p class="max btn-secondary"><%= villes[i].max%></p>
                        </div>
                        <form action="/delete-city" method="POST" class='hidden col-2'>
                          <!--<input type="hidden" name='city' value='<%= villes[i].city%>'>
                          <input type="hidden" name='info' value='<%= villes[i].info%>'>
                          <input type="hidden" name='min' value='<%= villes[i].min%>'>
                          <input type="hidden" name='max' value='<%= villes[i].max%>'>-->
                          <button name='position' value='<%= i %>'class='suppr'><i class="far fa-times-circle"></i></button>
                        </form>
                      </li>
                <%}%>

              </ul>
            </div>
          </div>
      </div>


    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
